body {
    padding-top: 50px;
    padding-left: 50px;
  }

  .search-results {
    padding: 15px;
    width: 400px;
  }
  
  .youtube-thumbnail {
    filter: grayscale(100%);
    transition: 1s;
  }
  
  .youtube-thumbnail:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }